@media only screen and (min-width: 1441px) {
    .light-mode-toggle{
        display: none;
    }
    .light-mode{
        display: block;
    }
    .nav-icon{
        display: none !important;
    }
    .navbar-brand{
        font-size: 40px !important;
    }

    .navbar-nav a {
        font-size: 20px !important;
        margin-left: 1rem !important;
    }
    .navbar-nav {
        width: 100%;
    }
    .nav-btn {
        width: 10rem !important;
        font-size: 20px !important;
        margin-left: 1rem !important;
    }
    .headData h1 {
        font-size: 44px;
    }
    .headData p {
        font-size: 24px;
    }
    .headBtn1 {
        width: 30%;
        font-size: 24px;
    }
    .headBtn2 {
        font-size: 24px;
    }
    .headBtn2 svg{
        width: 35px !important;
        height: 35px !important;
    }
    .aboutHeading h2{
        font-size: 44px !important;
    }
    .highlightLine {
        top: 68%;
        left: 48%;
    }
    .aboutData p {
        font-size: 24px;
    }
    .aboutData ul {
        font-size: 20px;
        padding-left: 0rem !important;
    }
    .aboutData ul svg {
        width: 25px !important;
        height: 25px !important;
    }
    .readMore{
        font-size: 24px !important;
    }
    .readMore svg{
        width: 35px !important;
        height: 35px !important;
    }
    .detailHeading {
        font-size: 44px;
    }
    .detailText {
        font-size: 24px;
        margin-left: 0px !important;
    }
    .accordion-button{
        font-size: 20px !important;
    }
    .detailrow img {
        width: 650px !important;
        height: 550px !important;
        margin-top: 3rem !important;
    }
    .skills-heading {
        font-size: 44px;
    }
    .skills p{
        font-size: 24px;
        margin-left: 0rem !important;
    }
    .skill-name {
        font-size: 24px !important;
    }
    .skills img{
        width: 550px;
        height: 450px;
    }
    .serviceHeading h2{
        font-size: 44px !important;
    }
    .serviceHeading p{
        font-size: 24px !important;
    }
    .serviceHighlightLine {
        top: 51%;
        left: 48%;
    }
    .card-title {
        font-size: 24px !important;
    }
    .serviceCard .card .card-body p{
        font-size: 20px !important;
    }
    .service-icons {
        width: 40px !important;
        height: 40px !important;
        top: 12%;
    }
    .actionImg {
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .actionData {
        left: 16%;
        width: 70% !important;
    }
    .actionHeading{
        font-size: 44px !important;
    }
    .actionPara {
        font-size: 24px;
    }
    .action-btn {
        font-size: 24px;
    }
    .portfolioHeading h2{
        font-size: 44px !important;
    }
    .portfolioHighlightLine {
        position: absolute;
        top: 53.5%;
        left: 48%;
    }
    .portfolioHeading p{
        font-size: 24px !important;
    }
    .portBtn button {
        font-size: 24px;
    }
    .teamHeading p{
        font-size: 24px !important;
    }
    .teamHighlightLine {
        top: 49%;
        left: 48%;
    }
    .team-cards .list-group-flush{
        font-size: 24px !important;
    }
    .team-cards .card img {
        width: 35%;
    }
    .team-icons svg{
        width: 20px !important;
        height: 20px !important;
    }
    .team-icons{
        width: 70%;
    }
    .priceHeading h2{
        font-size: 44px !important;
    }
    .priceHeading p{
        font-size: 24px !important;
    }
    .priceHighlightLine {
        left: 48%;
        top: 53% !important;
    }
    .pricing-list {
        font-size: 24px;
        padding-left: 0 !important;
    }
    .pricing-btn {
        font-size: 24px !important;
        width: 45%;
    }    
    .testHeading h2{
        font-size: 44px !important;
    }
    .testHeading p{
        font-size: 24px !important;
    }
    .testHighlightLine {
        top: 36%;
        left: 48.5%;
    }
    .slide-text h3 {
        font-size: 30px !important;
    }
    .slide-text p {
        font-size: 25px;
    }
    .slide-img {
        width: 200px;
    }
    .quote{
        font-size: 30px !important;
    }
    .upperquote {
        left: 21%;
        top: 50%;
    }
    .lowerquote {
        right: 44%;
    }
    .questionHeading h2{
        font-size: 44px !important;
    }
    .questionHeading p{
        font-size: 24px !important;
    }
    .questionHighlightLine {
        top: 45%;
        left: 48%;
    }
    .number svg{
        width: 30px !important;
        height: 30px !important;
    }
    .contactHeading h2{
        font-size: 44px !important;
    }
    .contactHeading p{
        font-size: 24px !important;
    }
    .contactHighlightLine {
        left: 48%;
        top: 36%;
    }
    .contact-text h5{
        font-size: 25px !important;
    }
    .contact-text p{
        font-size: 22px !important;
    }
    .contact-icons {
        height: 50px !important;
        width: 50px !important;
    }
    .contact-icons svg {
        height: 30px;
        width: 30px;
    }
    .contactForm label{
        font-size: 24px !important;
    }
    .form-name {
        height: 55px;
    }
    .form-email {
        height: 55px;
    }
    .form-subject {
        height: 55px;
    }
    .form-btn {
        font-size: 24px !important;
        height: 55px;
        width: 40%;
    }
    .joinHeading h2{
        font-size: 44px !important;
    }
    .joinHeading p{
        font-size: 24px !important;
    }
    .join-text {
        height: 50px;
    }
    .join-btn{
        font-size: 24px;
    }
    .footHeading-1 {
        font-size: 44px;
    }
    .footData{
        font-size: 24px !important;
    }
    .footHeading-2 {
        font-size: 27px;
    }
    .footLinks ul{
        font-size: 17px;
    }
    .footServices ul{
        font-size: 17px;
    }
    .footEnd p{
        font-size: 17px;
    }

}